.possible-answers {
    display: flex;
    justify-content: space-between; 
    gap: 2rem;   
}

.btn {
    &.CORRECT {
        background: #2ecc71;
        color: #fff;
    }

    &.WRONG {
        background: #e74c3c;
        color: #fff;
    }
}